<div class="col-md-10">
  <h2>New Payment</h2>

  <div class="row col-md-10" style="margin-top:15px">
    <h3>Personal details</h3>
    <label>Name: </label>  <input placeholder="Name"/>
    <label>Surname: </label>  <input placeholder="Surname"/>
    <label>Date: </label>  <input placeholder="Date"/>
  </div>

  <div class="col-md-10" style="margin-top:40px">
    <h3>Payment details</h3>
    <p>Insert components amounts:</p>
    <div>
       <label>Total amount: </label>
       <input placeholder="Total amount" />
    </div>
    <div style="margin-top:15px">
       <label>Rent: </label>
       <input placeholder="Rent amount" />
    </div>
    <div style="margin-top:15px">
       <label>Water: </label>
       <input placeholder="Water" />
    </div>
    <div style="margin-top:15px">
       <label>Garbage collection: </label>
       <input placeholder="Garbage collection" />
    </div>
    <div class="col-md-10"style="margin-top: 40px">
      <div class="row">
        <button style="margin-right:80px">Cancel</button>
        <button>Submit</button>
      </div>
    </div>
  </div>
</div>
