<div>
  <h1>New Payment</h1>

  <form>
    <div style="margin-top:15px">
      <h3>Personal details</h3>
      <div>
        <label>Name:
        </label>
        <input placeholder="Name"/>
        <label>Surname:
        </label>
        <input placeholder="Surname"/>
        <label>Date:
        </label>
        <input placeholder="Date"/>
        <label>Total Amount:
        </label>
        <input placeholder="Total Amount"/>
      </div>
    </div>

    <div style="margin-top:40px">
      <h3>Payment details</h3>
      <p>Insert components amounts:</p>
      <div>
        <label>Payment for:
        </label>
        <input/>
        <label>Amount:
        </label>
        <input placeholder="Amount"/>
      </div>
      <div style="margin-top:15px">
        <label>Payment for:
        </label>
        <input/>
        <label>Amount:
        </label>
        <input placeholder="Amount"/>
      </div>
      <div style="margin-top:15px">
        <label>Payment for:
        </label>
        <input/>
        <label>Amount:
        </label>
        <input placeholder="Amount"/>
      </div>
      <div class="col-md-10" style="margin-top: 40px">
        <div class="row">
          <button style="margin-right:80px">Cancel</button>
          <button>Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
